@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Great+Vibes&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --palette1: rgba(246, 217, 146, 1);
  --palette2: rgba(246, 207, 146, 1);
  --palette3: rgba(246, 196, 146, 1);
  --palette4: rgba(246, 176, 146, 1);
  --palette5: rgba(246, 161, 146, 1);
  --offWhite: rgba(240, 240, 240, 1);
  --darkGray: rgba(50, 50, 50, 1);
}

body {
  color: black;
  background: linear-gradient(to bottom, var(--palette1), var(--palette5));
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

/* needed for scrollbar override */
*,
*:hover {
    scrollbar-color: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom,var(--palette1), var(--palette5));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,var(--palette1), var(--palette5));
  border-radius: 6px;
  border: 4px solid var(--offWhite); 
  background-clip: padding-box;
 }

::-webkit-scrollbar-thumb:hover {
  background: var(--offWhite); 
}

@media (prefers-color-scheme: dark) {
  :root {
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
